.container-researchesdetailcontent {
  .researches-image {
    width: 60%;
  }
  div.pt-3 p {
    font-size: 16px;
  }
  div.pt-3 p img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .container-researchesdetailcontent {
    .researches-image {
      width: 80%;
    }
  }
}

@media screen and (max-width: 480px) {
  .container-researchesdetailcontent {
    .researches-image {
      width: 100%;
    }
  }
}
