.container-navtabs {
  width: 100%;

  h2 {
    line-height: 3rem;
  }

  .container-header {
    padding: 50px 100px 0px 100px;
    background: grey;
  }

  .container-content {
  }

  .row {
    margin: 0;
  }
  
  .nav-pills {
    a {
      color: #fff;
      background: #FF0000;
      font-weight: bolder;
    }

    .nav-item {
      margin-right: 10px;
      width: 200px;
      text-align: center;
    }

    .nav-link.active, .show>.nav-link {
      color: #000;
      background: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .container-navtabs {

    h2 {
      line-height: 2.5rem;
    }
  
    .container-header {
      padding: 50px 50px 0px 50px;
      background: grey;
    }

    .nav-pills {
      .nav-item {
        width: 150px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-navtabs {

    h2 {
      line-height: 2.5rem;
    }

    a {
      font-size: 13px;
    }
  
    .container-header {
      padding: 50px 30px 0px 30px;
      background: grey;
    }

    .nav-pills {
      .nav-item {
        width: 110px;
        margin-right: 5px;
      }
    }
  }
}
