.container-researches {
  background: #f3f3f3;
  padding-top: 75px;

  .navtabs-section {
  }

  .header-section {
    padding: 0 100px 70px 100px;
  }

  .listresearches-section {
    margin: 0 100px 353px 100px;
  }
}
