.container-teams {
  background: #f3f3f3;
  padding-top: 75px;

  .header-section {
    padding: 0 100px 0 100px;
  }

  .listteams-section {
    margin: 0 100px 353px 100px;
  }
}

@media screen and (max-width: 768px) {
  .container-teams {
    padding-top: 55px;

    .mb-5 {
      margin-bottom: 0 !important;
    }

    .header-section {
      padding: 0 50px 30px 50px;
    }

    .listteams-section {
      margin: 0 50px 353px 50px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container-teams {
    h1 {
      font-size: 30px;
      margin-bottom: 15px;
    }

    .header-section {
      padding: 0 30px 25px 30px;
    }

    .listteams-section {
      margin: 0 30px 353px 30px;
    }
  }
}
