.row,
.col {
  margin: 0 !important;
  padding: 0;
}

.red-symbol {
  background: red;
  border-radius: 50%;
  height: 20px;
}

.card {
  &-news-image {
    width: 100%;
  }

  &-researches {
    background: #fff;
    height: 180px;
    border-bottom: 5px solid #ff0000;

    &:after {
      content: "HUFFTTT";
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transform-origin: bottom center;
      background: #ff0000;
      z-index: 0;
      transition: transform 0.3s;
    }

    &:hover::after {
      cursor: pointer;
      z-index: 0;
      transform: scaleY(1);
    }
  }

  /* Style Card Projects */  
  &-projects {
    background: #fff;
    border-bottom: 5px solid #ff0000;
    margin-bottom: 20px !important;

    &-name {
      color: #AEAEAE;
      font-size: 13px;
      padding-bottom: 20px;
    }
  
    &-title {
      margin: 20px 0 30px 0;
    }
  }

  /* Style Card Teams */
  &-teams {
    background: #fff;
    border-bottom: 5px solid #ff0000;
    margin-bottom: 20px !important;

    a {
      color: #707070;
    }

    p {
      line-height: 1.5rem;
    }

    &-location {
      color: #AEAEAE;
      font-size: 13px;
      padding-bottom: 50px;
    }

    &-profile {
      padding-bottom: 30px;
    }

    &-contact {
      padding-bottom: 40px;
    }
  }
}
