.container-card {
  .row,
  .col {
    margin: 0 !important;
    padding: 0;
  }

  .red-symbol {
    background: red;
    border-radius: 50%;
    height: 20px;
  }

  .card {
    &-news {
      &-image {
        width: 100%;
      }
    }

    &-researches {
      height: 180px;

      h5 {
        color: #ff0000;
      }

      a {
        color: #ff0000;
        padding-bottom: 20px !important;
      }

      .hover-tb {
        cursor: pointer;
        border-bottom: 5px solid #ff0000;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, #fff 50%, #ff0000 50%);
        transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
          background-position: 0 100%;
          color: #fff;

          h5 {
            color: #fff;
          }
          a {
            color: #fff;
          }
        }

        &:focus {
          background-position: 0 100%;
          color: #fff;
        }
      }
    }

    /* Style Card Projects */
    &-projects {
      margin-bottom: 20px !important;

      .hover-tb {
        cursor: pointer;
        border-bottom: 5px solid #ff0000;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, #fff 50%, #ff0000 50%);
        transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
          background-position: 0 100%;
          color: #fff;

          h6 {
            color: #fff;
          }
          h5 {
            color: #fff;
          }
          a {
            color: #fff;
          }
        }

        &:focus {
          background-position: 0 100%;
          color: #fff;
        }
      }

      &-name {
        color: #aeaeae;
        font-size: 13px;
        padding-bottom: 20px;
      }

      &-title {
        margin: 20px 0 30px 0;
      }
    }

    /* Style Card Teams */
    &-teams {
      margin-bottom: 20px;

      h6 {
        font-size: 11px;
      }

      .hover-tb {
        cursor: pointer;
        border-bottom: 5px solid #ff0000;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, #fff 50%, #ff0000 50%);
        transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
          background-position: 0 100%;
          color: #fff;

          h6 {
            color: #fff;
          }
          h5 {
            color: #fff;
          }
          a {
            color: #fff;
          }
        }

        &:focus {
          background-position: 0 100%;
          color: #fff;
        }
      }

      a {
        color: #707070;
      }

      p {
        line-height: 1.5rem;
      }

      &-location {
        color: #aeaeae;
        font-size: 13px;
        padding-bottom: 50px;
      }

      &-profile {
        padding-bottom: 30px;
      }

      &-contact {
        padding-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    &-researches {
      height: 160px;
      h5 {
        font-size: 14px;
      }
      a {
        font-size: 14px;
      }
      .p-4 {
        padding: 30px 10px 10px 10px !important;
      }
    }

    &-projects {
      margin-bottom: 20px !important;

      &-name {
        color: #aeaeae;
        font-size: 13px;
        padding-bottom: 20px;
      }

      &-title {
        margin: 20px 0 30px 0;
      }
    }

    &-teams {
      h2 {
        font-size: 24px;
      }
      a {
        font-size: 13px;
      }
      &-location {
        color: #aeaeae;
        font-size: 13px;
        padding-bottom: 30px;
      }

      &-profile {
        padding-bottom: 5px;
      }

      &-contact {
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .card {
    &-news {
      padding-bottom: 40px;
    }
  }
}
