.row,
.col {
  margin: 0 !important;
  padding: 0;
}

.card {
  &-news-image {
    width: 100%;
  }

  &-researches {
    background: #fff;
    height: 180px;
    border-bottom: 5px solid #ff0000;

    &:after {
      content: "HUFFTTT";
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transform-origin: bottom center;
      background: #ff0000;
      z-index: 0;
      transition: transform 0.3s;
    }

    &:hover::after {
      cursor: pointer;
      z-index: 0;
      transform: scaleY(1);
    }
  }

  &-projects {
    background: #fff;
    border-bottom: 5px solid #ff0000;
    margin-bottom: 20px !important;
  }

  &-teams {
    background: #fff;
    border-bottom: 5px solid #ff0000;
    margin-bottom: 20px !important;
  }
}
