.container-projectdetail {
  background: #fff;

  .header-section {
    padding: 0 100px 0 100px;
  }

  .detail-section {
    margin: 0 100px 400px 100px;
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .container-projectdetailcontent {
    .markdown-content {
      img {
        
      }
    }
  }

  h2 {
    line-height: 3rem;
  }

  .container-header {
    &-red {
      padding: 30px 100px 0px 100px;
      background: #ff0000;
    }
  }

  .container-content {
  }
}

@media screen and (max-width: 768px) {
  .container-projectdetail {
    .header-section {
      padding: 0 50px 0 50px;
    }

    .detail-section {
      margin: 0 50px 400px 50px;
      padding-top: 10px;
    }

    h2 {
      line-height: 2.5rem;
    }

    .container-header {
      &-red {
        padding: 40px 50px 0px 50px;
        background: #ff0000;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-projectdetail {
    .header-section {
      padding: 0 30px 0 30px;
    }

    .detail-section {
      margin: 0 30px 400px 30px;
      padding-top: 0px;
    }

    h2 {
      line-height: 2.5rem;
    }

    .container-header {
      &-red {
        padding: 40px 30px 0px 30px;
        background: #ff0000;
      }
    }
  }
}
