.container-footer {
  height: 400px;
  padding: 100px 100px 100px 100px;
  z-index: -1 !important;
  position: fixed !important;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #bfbfbf;

  a {
    color: #707070;
  }

  p {
    line-height: 1.5rem;
  }

  .fa {
    font-size: 20px;
    padding-top: 2px;
    padding-left: 15px;
  }

  .text-grey {
    color: #707070;
  }

  .footer-address {
    text-align: right;
  }
  .col-md-12 {
    text-align: right;
    padding: 0 1px;
    margin-bottom: 2px;
  }
  #unpad {
    width: 75px;
    margin: auto;
  }
  #puipt {
    width: 125px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .container-footer {
    padding: 50px;
  }
}

@media screen and (max-width: 767px) {
  .container-footer {
    .footer-address {
      text-align: left;
    }
    .col-md-12 {
      text-align: left;
    }
    #unpad {
      width: 75px;
      margin: auto;
    }
    #puipt {
      width: 90px;
      margin: auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .container-footer {
    padding: 30px;
  }
}
