.container-home {
  background: #fff;
  
  h1 {
    font-size: 90px;
    line-height: 8rem;
  }

  h2 {
    font-size: 56px;
    line-height: 5rem;
  }

  h3 {
    font-size: 45px;
    line-height: 5rem;
  }

  h4 {
    font-size: 34px;
  }

  h5 {
    font-size: 24px;
    line-height: 50px;
  }

  h6 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .row {
    margin: 0 !important;
    padding: 0;
  }

  .first-section {
    height: 300px;
    padding: 0 100px 50px 100px;
  }

  .second-section {
    // background: yellow;
    padding: 100px 0 0 0;
    .img-section {
      // top: 0;
      // right: 0;
      // background-size: cover;
      // position: absolute;
      width: 100%;
    }
  }

  .third-section {
    padding: 100px;
  }

  .fourth-section {
    padding: 0;
    // background: yellow;
    .img-section {
      // top: 0;
      // left: 0;
      // background-size: cover;
      // position: absolute;
      width: 100%;
    }
  }

  .fifth-section {
    padding: 100px 150px 0 150px;
  }

  .sixth-section {
    padding: 50px 0 100px 100px;

    .img-section {
      width: 100%;
    }
  }

  .seventh-section {
    padding: 100px 150px 100px 150px;
  }

  .eighth-section {
    margin: 100px 0 400px 0;
    // height: 630px;

    .img-section {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container-home {
    // background: black;
  }
}
