.bg-blurred {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
}

.main-left {
  position: relative;
  padding-left: 100px;

  .sticky {
    font-size: 20px;
    line-height: 1.5rem;
    align-items: center;
    justify-content: center;
    top: 20%;
    padding-bottom: 50vh;
    position: sticky;
    -webkit-position: sticky;
  }
  
  .list-group-item {
    border: none;
    color: #cdcdcd;
    font-weight: 600;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      color: #000;
    }
  }

  .list-group-item.active {
    background-color: transparent;
    border-color: none;
    color: #000;
  }
}

.main-right {
  padding-right: 69px;
}

.overlay {
  color: blanchedalmond;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
}

.anak-overlay {
  display: none;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.exit {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container-home {
  background: #fff;
  // background: url('https://media.gettyimages.com/photos/incense-series-picture-id157334516?k=6&m=157334516&s=612x612&w=0&h=bxUUOwiZji6LL0UTTwGiD6U6RoE0xG7v7Ga9Hm_s7xk='); 
  // background-size: cover;
  // background-attachment: fixed;

  .hidetext {
    display: block;
    padding-bottom: 12px;
  }

  .banner {
    width: 100%;
    height: 100%;
    position: relative;

    &-close {
      font-size: 30px;
    }

    &-container {
      width: 70%;

      &-img {
        width: 100%;
      }

      .rounded {
        border-radius: 10px !important;
      }
    }
  }

  h1 {
    overflow: hidden;
    font-size: 70px;
    line-height: 4rem;
  }

  h2 {
    overflow: hidden;
    font-size: 46px;
    line-height: 4rem;
  }

  h3 {
    font-size: 34px;
    line-height: 5rem;
  }

  h4 {
    font-size: 26px;
    line-height: 3.5rem;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
    line-height: 2.5rem;
  }

  p {
    font-size: 14px;
  }

  .row {
    margin: 0 !important;
    padding: 0;
  }

  .main-section {
    margin-bottom: 400px !important;
  }

  .first-section {
    height: 300px;
    padding: 0 100px 320px 100px;
  }

  .second-section {
    padding: 0;
    
    .img-section {
      width: 100%;
    }
  }

  .third-section {
    padding: 100px 0 0 0;
  }

  .fourth-section {
    padding: 200px 0 0 0;

    .img-section {
      width: 100%;
    }
  }

  .fifth-section {
    padding: 100px 0 0 0;
  }

  .sixth-section {
    padding: 200px 0 0 0;

    .img-section {
      width: 100%;
    }
  }

  .seventh-section {
    padding: 100px 0 0 0;
  }

  .eighth-section {
    padding: 100px 0;

    .img-section {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-left {
    position: relative;
    padding-left: 50px;
  }

  .main-right {
    padding-right: 35px;
  }

  .container-home {
    h1 {
      font-size: 50px;
      line-height: 2rem;
    }

    h2 {
      font-size: 26px;
      line-height: 3rem;
    }

    h3 {
      font-size: 26px;
      line-height: 5rem;
    }

    h4 {
      font-size: 20px;
      line-height: 3rem;
    }

    h5 {
      font-size: 16px;
      line-height: 2rem;
    }

    h6 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }

    .first-section {
      height: 300px;
      padding: 0 50px 10px 50px;
    }

    .second-section {
      padding: 0;
    }

    .third-section {
      padding: 50px 0 0 0;
    }

    .fourth-section {
      padding: 100px 0 0 0;
    }

    .fifth-section {
      padding: 50px 0 0 0;
    }

    .sixth-section {
      padding: 100px 0 0 0;
    }

    .seventh-section {
      padding: 50px 0 0 0;
    }

    .eighth-section {
      padding: 50px 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .main-right {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container-home {
    h1 {
      font-size: 30px;
      line-height: 2rem;
    }

    h2 {
      font-size: 20px;
      line-height: 2rem;
    }

    h3 {
      font-size: 20px;
      line-height: 2rem;
    }

    h4 {
      font-size: 16px;
      line-height: 1.8rem;
    }

    h5 {
      font-size: 16px;
      line-height: 1.8rem;
      padding-top: 15px;
    }

    h6 {
      font-size: 14px;
      line-height: 1.7rem;
    }

    p {
      font-size: 14px;
    }

    .first-section {
      height: 300px;
      padding: 0 30px 20px 30px;
    }

    .second-section {
      padding: 0;
    }

    .third-section {
      padding: 30px 0 0 0;
    }

    .fourth-section {
      padding: 60px 0 0 0;
    }

    .fifth-section {
      padding: 30px 0 0 0;
    }

    .sixth-section {
      padding: 60px 0 0 0;
    }

    .seventh-section {
      padding: 30px 0 0 0;
    }

    .eighth-section {
      padding: 30px 0;
    }
  }
}
